*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.screen{
    width: 100%;
    height: 100%;
}
.mobil{
    display: none;
  
}
@media (max-width:992px) {
    .screen{
        display: none;
    }
    .mobil{
        display: block;
        width: 100%;
        height: 100%;
    }
    
}